.news-previews {

}

.previewContainer{

}

.preview {
	margin-bottom: 3rem;
}

.preview__title {
	margin-top: 0px;

	a {
		@include transition-property(color);
		@include transition-duration(500ms); 

		&:hover {
			
		}
	}
}

.preview__date {

}

.preview__thumbnail {
	float: left;
	padding-right: 16px;
}

.preview__content {

}
