@mixin vendor($name, $argument) {
  -webkit-#{$name}: $argument;
     -moz-#{$name}: $argument;
      -ms-#{$name}: $argument;
	   -o-#{$name}: $argument;
		  #{$name}: $argument;
}

@mixin rem($size) {
  font-size: ($size * $base-font-size ) + px;
  font-size: $size + rem;
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin letterpress($opacity){
    text-shadow:white($opacity) 0 1px 0;
}