{% spaceless %}
<section class="gallery">
    <div class="gallery__tiles grid grid--full grid--center">
        <article class="gallery__item grid__item one-sixth">
            <img src="http://www.mdpi.org/ijms/specialissues/pc/pc-logo.jpg" class="one-whole">
            <div class="one-whole gallery__overlay">
                Crystallography number 1
            </div>
        </article>
        <article class="gallery__item grid__item one-sixth">
            <img src="http://ccc.epfl.ch/files/content/sites/lcr/files/images/crystal_structure.jpg" class="one-whole" >
            <div class="one-whole gallery__overlay">
                Crystallography number 2
            </div>
        </article>
        <article class="gallery__item grid__item one-sixth">
            <img src="http://www.mdpi.org/ijms/specialissues/pc/pc-logo.jpg" class="one-whole">
            <div class="one-whole gallery__overlay">
                Crystallography number 3
            </div>
        </article>
        <article class="gallery__item grid__item one-sixth">
            <img src="http://ccc.epfl.ch/files/content/sites/lcr/files/images/crystal_structure.jpg" class="one-whole">
            <div class="one-whole gallery__overlay">
                Crystallography number 4
            </div>
        </article>
        <article class="gallery__item grid__item one-sixth">
            <img src="http://www.mdpi.org/ijms/specialissues/pc/pc-logo.jpg" class="one-whole">
            <div class="one-whole gallery__overlay">
                Crystallography number 5
            </div>
        </article>
        <article class="gallery__item grid__item one-sixth">
            <img src="http://ccc.epfl.ch/files/content/sites/lcr/files/images/crystal_structure.jpg" class="one-whole">
            <div class="one-whole gallery__overlay">
                Crystallography number 6
            </div>
        </article>
    </div>
</section>
{% endspaceless %}