{% spaceless %}
<footer class="mainFooter">
    <div class="row center">
        <article class="one-quarter grid__item lap-one-half palm-one-whole mainFooter__item">
            <h3>Important Info</h3>
            <hr>
            <a href="" class="mainFooter__link">Edit this page</a><br>
            <a href="" class="mainFooter__link">Discuss this page</a><br>
            <a href="" class="mainFooter__link">Page history</a><br>
            <a href="" class="mainFooter__link">What links here</a><br>
            <a href="" class="mainFooter__link">Related changes</a><br> 
        </article>
        <article class="one-quarter grid__item lap-one-half palm-one-whole mainFooter__item">
            <h3>The Beamlines</h3>
            <hr>
            <a href="" class="mainFooter__link">Edit this page</a><br>
            <a href="" class="mainFooter__link">Discuss this page</a><br>
            <a href="" class="mainFooter__link">Page history</a><br>
            <a href="" class="mainFooter__link">What links here</a><br>
            <a href="" class="mainFooter__link">Related changes</a><br> 
        </article>
        <article class="one-quarter grid__item lap-one-half palm-one-whole mainFooter__item">
            <h3>Contacts</h3>
            <hr>
            <a href="" class="mainFooter__link">Edit this page</a><br>
            <a href="" class="mainFooter__link">Discuss this page</a><br>
            <a href="" class="mainFooter__link">Page history</a><br>
            <a href="" class="mainFooter__link">What links here</a><br>
            <a href="" class="mainFooter__link">Related changes</a><br> 
        </article>
        <article class="one-quarter grid__item lap-one-half palm-one-whole mid">
            <img src="/assets/img/full_doe_logo_white.png" width="150" style="margin-top:2.25em; margin-bottom:2.25em;"><br>
            <img src="/assets/img/uc_seal_white.png" width="75">
        </article>
    </div>
</footer>
{% endspaceless %}