{% extends "layouts/base.twig" %}
{% block header %}
    {% include "components/gallery.twig" %}
{% endblock %}
{% block content %}
	{% spaceless %}
        <aside class="sidebar grid__item one-quarter portable--one-whole">
            {{main_sidebar}}
        </aside>
        <section class="grid__item three-quarters portable--one-whole">
            <article class="intro">
                <h2>The Berkeley Center for Structural Biology</h2>
                <hr>
                {{page.content}}
            </article>
            <article class="news-preview">
                <h2>Recent Scientific Highlights</h2>
                <hr>
                {% for post in posts %}
                    {% include [post.post_type~'/preview.twig', 'posts/preview.twig'] %}
                {% endfor %}
            </article>
        </section>
    {% endspaceless %}
{% endblock %}