<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/css/normalize-customized.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/csswizardry-grids.css">
    <link rel="stylesheet" href="/assets/css/main-dark.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400italic,400,700|PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
    <script src="/assets/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body class="index-dark">
<!--[if lt IE 7]>
    <p class="chromeframe">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> 
    or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your
    experience.
    </p>
<![endif]-->
    <header class="mainHead">
        <nav class="topNav">
        <h4 class="topNav__header">Lawrence Berkeley National Laboratory</h4>
            <a href="#">Login</a>
            <a href="#">Contact Us</a>
        </nav>

        <nav class="mainNav">
            <div class="logo">
                <h1>BCSB</h1>
            </div>
            <div class="mainNav__linkGroup">
                <a href="" class="mainNav__link">Who We Are <i class="icon-double-angle-down"></i> </a>
                <nav class="subNav">
                    <a href="" class="subNav__link">
                        Contact us
                    </a>
                    <a href="" class="subNav__link">
                        Staff Listing
                    </a>
                    <a href="" class="subNav__link">
                        Report a Problem
                    </a>
                </nav>
            </div>
            <div class="mainNav__linkGroup">
               <a href="" class="mainNav__link">The Beamlines <i class="icon-double-angle-down"></i> </a>
               <nav class="subNav">
                    <a href="" class="subNav__link">
                        Ring Status
                    </a>
                    <a href="" class="subNav__link">
                        Automounter
                    </a>
                    <a href="" class="subNav__link">
                        Web-Ice
                    </a>
                    <a href="" class="subNav__link">
                        5.0.1
                    </a>
                    <a href="" class="subNav__link">
                        5.0.2
                    </a>
                    <a href="" class="subNav__link">
                        8.2.1
                    </a>
                    <a href="" class="subNav__link">
                        8.2.2
                    </a>
                </nav> 
            </div>
            <div class="mainNav__linkGroup">
               <a href="" class="mainNav__link">Essential Info <i class="icon-double-angle-down"></i> </a>
               <nav class="subNav">
                    <a href="" class="subNav__link">
                        Contact us
                    </a>
                    <a href="" class="subNav__link">
                        Staff Listing
                    </a>
                    <a href="" class="subNav__link">
                        Report a Problem
                    </a>
                </nav> 
            </div>
            <div class="mainNav__linkGroup">
               <a href="" class="mainNav__link">Staff Guides <i class="icon-double-angle-down"></i> </a>
               <nav class="subNav">
                   <a href="" class="subNav__link">
                       Beamline Blog
                   </a>
                   <a href="" class="subNav__link">
                       Test Data
                   </a>
                   <a href="" class="subNav__link">
                       Planned Upgrades
                   </a>
                   <a href="" class="subNav__link">
                       Intranet
                   </a>
                   <a href="" class="subNav__link">
                       BUDS
                   </a>
                   <a href="" class="subNav__link">
                       On Schedule Call
                   </a>
               </nav>
            </div>
            <div class="mainNav__linkGroup">
               <a href="" class="mainNav__link">User Guides <i class="icon-double-angle-down"></i> </a>
               <nav class="subNav">
                   <a href="" class="subNav__link">
                       Essential Reading
                   </a>
                   <a href="" class="subNav__link">
                       User Guides
                   </a>
                   <a href="" class="subNav__link">
                       Weekly Schedule
                   </a>
                   <a href="" class="subNav__link">
                       Schedule - BUDS
                   </a>
                   <a href="" class="subNav__link">
                       Apply for Time
                   </a>
                   <a href="" class="subNav__link">
                       Proprietary &amp; Non-Proprietary
                   </a>
                   <a href="" class="subNav__link">
                       Collaborative Crystallography
                   </a>
                   <a href="" class="subNav__link">
                       End of Run Form
                   </a>
                   <a href="" class="subNav__link">
                       FAQ <i class="icon-double-angle-down"></i> 
                   </a>
               </nav> 
            </div>
        </nav>
    </header>

    <div class="grid">
        <section class="gallery one-whole">
            <div class="gallery__tiles">
                <article class="gallery__item one-sixth">
                    <img src="http://www.mdpi.org/ijms/specialissues/pc/pc-logo.jpg" class="one-whole">
                    <div class="one-whole gallery__overlay">
                        Crystallography number 1
                    </div>
                </article>
                <article class="gallery__item one-sixth">
                    <img src="http://ccc.epfl.ch/files/content/sites/lcr/files/images/crystal_structure.jpg" class="one-whole" >
                    <div class="one-whole gallery__overlay">
                        Crystallography number 2
                    </div>
                </article>
                <article class="gallery__item one-sixth">
                    <img src="/assets/img/coverill.gif" class="one-whole" >
                    <div class="one-whole gallery__overlay">
                        Crystallography number 3
                    </div>
                </article>
                <article class="gallery__item one-sixth">
                    <img src="/assets/img/hev2.jpg" class="one-whole">
                    <div class="one-whole gallery__overlay">
                        Crystallography number 4
                    </div>
                </article>
                <article class="gallery__item one-sixth">
                    <img src="http://www.mdpi.org/ijms/specialissues/pc/pc-logo.jpg" class="one-whole">
                    <div class="one-whole gallery__overlay">
                        Crystallography number 5
                    </div>
                </article>
                <article class="gallery__item one-sixth">
                    <img src="http://ccc.epfl.ch/files/content/sites/lcr/files/images/crystal_structure.jpg" class="one-whole">
                    <div class="one-whole gallery__overlay">
                        Crystallography number 6
                    </div>
                </article>
            </div>
        </section>
        <div class="mainContent">
            <section class="moreInfo">
            <article class="clip one-third portable-one-whole">
                <h2>What We Do</h2>
                <hr>
                <p>
                    The vision of the Berkeley Center for Structural Biology (BCSB) is to provide state-of-the-art beamlines and outstanding service for crystallographers around the world, enabling structure solution on even the most complex biological systems.
                </p>
                <h2>This Can Function as a Sidebar</h2>
                <hr>
                <p>
                    This part of the page can also function as a sidebar, so you choose to make it. This is now just a bunch of dummy text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud. <a href="" id="sidebarify">Click to make more like a sidebar</a>
                </p>
            </article>
            <article class="clip two-thirds portable-one-whole">
                <h2>The Beamlines</h2>
                <hr>
                <img src="http://bcsb-web-2.als.lbl.gov/wiki/images/2/21/Loop.png" class="img-left" width="150">
                <p>
                    For over ten years, the BCSB has operated five protein crystallography beamlines at the Advanced Light Source (ALS) at Lawrence Berkeley National Laboratory. Through many improvements over the years, the Center has dramatically increased the flux, stability, and automation of the beamlines, keeping them at the cutting edge of synchrotron MX science.
                </p>
                <img src="http://bcsb-web-2.als.lbl.gov/wiki/images/4/4b/Minikappa.png" class="img-right" width="100">
                <p>
                    Two of the BCSB beamlines now have liquid nitrogen cooled monochromators, and one of the monochromators now includes a multilayer, giving a ten times flux boost for native experiments. User-controlled variable collimators (from 100 um to 10 micron spot size) are installed on four of the five beamlines, along with advanced software capabilities such as raster and vector scanning. All the beamliens are remote-enabled, significantly reducing the cost of running at the synchrotron: users need only send their crystals in pucks, and they can control the sample loading and data collection from their home labs. 
                </p>
            </article>
        </section>
    </div>


    <footer class="mainFooter">
        <div class="row center">
            <article class="one-quarter lap-one-half palm-one-whole mainFooter__item">
                <h3>Important Info</h3>
                <hr>
                <a href="" class="mainFooter__link">Edit this page</a><br>
                <a href="" class="mainFooter__link">Discuss this page</a><br>
                <a href="" class="mainFooter__link">Page history</a><br>
                <a href="" class="mainFooter__link">What links here</a><br>
                <a href="" class="mainFooter__link">Related changes</a><br> 
            </article>
            <article class="one-quarter lap-one-half palm-one-whole mainFooter__item">
                <h3>The Beamlines</h3>
                <hr>
                <a href="" class="mainFooter__link">Edit this page</a><br>
                <a href="" class="mainFooter__link">Discuss this page</a><br>
                <a href="" class="mainFooter__link">Page history</a><br>
                <a href="" class="mainFooter__link">What links here</a><br>
                <a href="" class="mainFooter__link">Related changes</a><br> 
            </article>
            <article class="one-quarter lap-one-half palm-one-whole mainFooter__item">
                <h3>Contacts</h3>
                <hr>
                <a href="" class="mainFooter__link">Edit this page</a><br>
                <a href="" class="mainFooter__link">Discuss this page</a><br>
                <a href="" class="mainFooter__link">Page history</a><br>
                <a href="" class="mainFooter__link">What links here</a><br>
                <a href="" class="mainFooter__link">Related changes</a><br> 
            </article>
            <article class="one-quarter lap-one-half palm-one-whole mid">
                <img src="/assets/img/full_doe_logo_white.png" width="150" style="margin-top:2.25em; margin-bottom:2.25em;"><br>
                <img src="/assets/img/uc_seal_white.png" width="75">
            </article>
        </div>
    </footer>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/assets/js/vendor/equalize.min.js"></script>
    <script>
        $(function(){
            $(".mainFooter .row").equalize();

            $("#sidebarify").click(function(e){
                e.preventDefault();
                $(".clip").first().css(
                    {
                    'background-color': '#252525',
                    'border': "#292929 3px solid",
                    'padding' : "0.75em",
                    'margin': '0 auto'
                    }
                );
            });
        });
    </script>
    <!--
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
    -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        // s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
</body>
</html>
