/* *****************************************************
   Footer
   ***************************************************** */

.mainFooter {
    border-top: #292929 5px solid;
    background: #252525;
    padding: .5rem 1.5rem;
    color: #FFFFFF;
    margin: 0 auto;
}

.mainFooter__item {
    vertical-align: top;
    text-align: left;
}