.gallery {
    background: #252525;
    max-height: 13em;
    margin: 0 auto;
    border-top: #292929 5px solid;
    border-bottom: #292929 5px solid;

}
.gallery__tiles {
    max-width: 1200px;
    margin: 0 auto;
}
.gallery__item {
    max-height: 13em;
    position: relative;
}
.gallery__item img {
    overflow: hidden;
    padding-left: 0;
}

.gallery__item:hover > .gallery__overlay {
    opacity: 0.9;
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;  
    -ms-transition: all 0.5s;  
    -o-transition: all 0.5s;  
    transition: all 0.5s;
}

.gallery__overlay {
    background: #252525;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    color: #FFF;
    top:0;
    left:0;
    height: 100%;
    text-align: center;
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;  
    -ms-transition: all 0.5s;  
    -o-transition: all 0.5s;  
    transition: all 0.5s;
}
