.gallery {
    background: #222222;
    max-height: 13em;
    border-top: #292929 4px solid;
    border-bottom: #292929 4px solid;
    width: 100%;
}
.gallery__item {
    max-width: 13rem;
    max-height: 13rem;
    position: relative;
}
.gallery__item img {
    overflow: hidden;
    padding-left: 0;
    max-height: 13rem;
}

.gallery__item:hover > .gallery__overlay {
    opacity: 0.9;
    @include transition-property(all);
    @include transition-duration(0.5s);
}

.gallery__overlay {
    background: #252525;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    color: #FFF;
    top:0;
    left:0;
    height: 100%;
    text-align: center;
    @include transition-property(all);
    @include transition-duration(0.5s);
}
