/* *****************************************************
   Navigation
   ***************************************************** */

.index2 .mainHeader {
    margin: 1.5em 0 0 0;
}

.topNav {
    background: #345C7F;
    color: #FAFAFA;
    text-align: right;
    padding: .5rem 1.5rem;
    border-bottom: #4376A3 5px solid;

    a{
        margin: 0 1.5em 0 0;
        color: #FAFAFA;
        text-decoration: none;
    }
}

.topNav__header {
    margin: 0;
    color: #FAFAFA;
    display: inline-block;
    float: left;

}
.logo {
    display: inline-block;
    color: #FAFAFA;
    padding: .5em .5em .5em 0;
    padding: .5rem .5rem .5rem 0;
}
.mainNavContainer, .mainContent {
    margin: 0 auto;
    max-width: 1200px;
}

.mainNav {
    padding: 0;
}

.mainNav__linkGroup {
    display: inline-block;
    padding: 0.5rem;
    margin:0;
    margin-right: 0.5rem;
    position: relative;
    list-style: none;
    border-top: 3px #FAFAFA solid;
    @include transition-property(background-color);
    @include transition-duration(0.5s);

    &.selected {
        background-color: #38679A;
        color: #FAFAFA;

        .mainNav__link {
            color: #FAFAFA;
        }

        .subNav {
            display: block;
            opacity: 1;
        }
    }
}
.mainNav__link {
    text-align: center;
    color: #08C;
    text-decoration: none;
    font-size: 1.125em;
    font-size: 1.125rem;
    vertical-align: bottom;
    @include transition-property(color);
    @include transition-duration(0.5s);
}

.mainNav__link--dropdown {
    @extend .mainNav__link;
}

/* SUBNAVIGATION */

.subNav {
    position:absolute;
    opacity:0;
    left: -0.5%;
    width: 150%;
    z-index:5;
    border:#38679A 5px solid;
    background:#FAFAFA;
    padding: 0;
    @include transition-property(opacity);
    @include transition-duration(0.5s);

    &::before{
        position: absolute;
        width: 0;
        height: 0;
        top:0;
        left:17.5%;
        border-width: 17px;
        border-style: solid;
        border-color: #38679A transparent transparent;
        content: " ";
        z-index: 10;
    }

}

.subNav__link{
    display: block;
    position: relative;
    background:#FAFAFA;
    list-style:none;
    padding: 0.5rem 0.5rem;
    text-align:center;
    z-index:5;

    &:first-child {
        margin-top: 1rem;
    }
    
    &:hover{
        background-color: #38679A;
        @include transition-property(background-color);
        @include transition-duration(0.5s);

        a {
            color: #FAFAFA;
        }
    }

    a {
        color:#38679A;
        text-decoration:none;
        margin:0;
        padding: 0.5rem;
        @include transition-property(color);
        @include transition-duration(0.5s);

        &:hover {
            color: #FAFAFA;
        }
    }
}
