{% extends "layouts/base.twig" %}
{% block content %}
	{% spaceless %}
    <article class="grid__item two-thirds portable--one-whole">
        <h2>{{page.title}}</h2>
        <hr>
            {{page.content}}
    </article>
    {% endspaceless %}
{% endblock %}